body{
    overflow-x: hidden;
    font-family: $designFont;
    min-height: 100vh;
    background-color: $yellowColor;
}
h1{
    font-size: 5em;
}
.hidden{
    display: none;
}
button{
    font-family: $designFont;
    padding: .5em 1em;
    border-radius: 100px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: $yellowColor;
    color: $codeBackground;
    font-weight: 600;

}