// Variables for Colors

$codeBackground: #292d3e;
$designBackground: #E5E5E5;

$black: #272727;
$dark: #3b3b3b;
$white: #ebebeb;

// // Variables for Fonts

$font: Raleway, Arial, Helvetica, sans-serif;

//  Variables for Width

$max-width : 1200px;