// Import var and modules
@import '_reset';
@import '_mixins';

@import '_variables';

@import '_default';

#codeSection,
#designSection{
    position: absolute;
    top: 0;
    left: 0;
    .logoSVG{
        position: absolute;
        top: 30px;
        left: 50%;
        width: 150px;
        @include transform( translateX(-50%) );
    }
    #avatarSVG{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        @include transform( translate(-50%,-50%) );
        
        -webkit-filter: url(#duoToneFilter); 
        filter: url(#duoToneFilter);
    }
}

#codeSection{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $codeBackground;
    
    @include mask(url(../images/homeMaskLeft.svg));
    @include mask-size(100%, 100%);
    mask-type: alpha;
}
#designSection{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $designBackground;

    @include mask(url(../images/homeMaskRight.svg));
    @include mask-size(100%, 100%);
    mask-type: alpha;
    #avatarSVG{
        -webkit-filter: url(#duoToneFilter); 
        filter: url(#duoToneFilter);
    }
}