// Import var and modules
@import '_reset';
@import '_mixins';

@import '_variables';

@import '_default';
body{
}
#preLoader{
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    #preLoaderPercentage{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $codeBackground;
        font-family: $designFont;
        font-size: 20px;
        opacity: 0;
        @include transform( translate(-20%, -100%) );
    }
}
#background{
    position: absolute;
    height: 100vh;
    width: 100%;
    #svgMask{
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: -100;
        pointer-events: none;
        opacity: 0;
        @include transform( translate(-50%, -50%) );
    }
}
#foreground{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    pointer-events: none;
    @include transform( translate(-50%, -50%) );
}
.autoHeight{
    width: 100%;
    height: auto;
}
.autoWidth{
    width: auto;
    height: 100vh;
}
.noButtonStyle{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: $black;
}
#homeContent{
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    width: 500%;
    flex-direction: row-reverse;
    position: fixed;
    right: -200%;
    opacity: 0;
    z-index: 2;
    section{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .headerLogo{
        position: fixed;
        width: 150px;
        top: 10px;
        left: 50%;
        @include transform( translate(-50%, 0%) );
    }
    #centerContent{
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        position: relative;
        order: 3;
        #codeBanner{
            position: fixed;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            @include transform( translate(-50%, -50%) );
            clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%, 0 0);
            shape-inside: polygon(0 0, 40% 0, 60% 100%, 0% 100%, 0 0);
            -webkit-clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%, 0 0);
            @include transition(clip-path 0.2s, -webkit-clip-path 0.2s, shape-inside 0.2s);
            #codeBackground{
                position: fixed;
                z-index: -150;
                background-color: $codeBackground;
            }
            #myAvatarShape{
                position: fixed;
                width: 70vw;
                max-width: 400px;
                top: 50%;
                left: 50%;
                @include transform( translate(-50%, -50%) );
            }
            .aboutMsg{
                color: $designBackground;
                position: fixed;
                bottom: 20px;
                left: 50%;
                @include transform( translate(-50%, -50%) );
            }
        }
        #designBanner{
            position: fixed;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            @include transform( translate(-50%, -50%) );
            clip-path: polygon(100% 0, 40% 0, 60% 100%, 100% 100%, 100% 0);
            shape-inside: polygon(100% 0, 40% 0, 60% 100%, 100% 100%, 100% 0);
            -webkit-clip-path: polygon(100% 0, 40% 0, 60% 100%, 100% 100%, 100% 0);
            @include transition(clip-path 0.2s, -webkit-clip-path 0.2s, shape-inside 0.2s);
            #designBackground{
                position: fixed;
                z-index: -150;
                background-color: $designBackground;
            }
            #myAvatar{
                position: fixed;
                width: 70vw;
                max-width: 400px;
                top: 50%;
                left: 50%;
                @include transform( translate(-50%, -50%) );
            }
            .aboutMsg{
                color: $codeBackground;
                position: absolute;
                bottom: 20px;
                left: 50%;
                @include transform( translate(-50%, -50%) );
            }
        }
        #codeBtn{
            position: absolute;
            top:50%;
            left: calc(50% - 16vw);
        
            @include transform( translate(-100%,-50%) );
            font-family: $codeFont;
            font-weight: 800;
            font-size: 35px;
            color: $codeGreen;
        
            white-space: nowrap;
            overflow-x: hidden;
        }
        #designBtn{
            position: absolute;
            top:50%;
            left: calc(50% + 14vw);
            cursor: pointer;
            @include transform( translate(0%,-50%) );
            object{
                pointer-events: none;
                height: 120px;
            }
        }
    }
    #codeContent{
        font-family: $codeFont;
        color: white;
        font-weight: 600;
        order: 4;
        .introduction{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 26px;
            @include transform( translate(-50%, -50%) );
            white-space: nowrap;
            letter-spacing: 2px;
            .iM{ 
                font-size: 42px;
            }
            .name{
                line-height: 1.6;
            }
            .title{
                #codeTitle{
                    overflow: hidden;
                    display: inline-block;
                    border-right: 12px solid transparent;
                    @include transform( translateY(4.5px) );
                }
            }
        }
        .headTag{
            opacity: .5;
            .openTag{
                position: absolute;
                top: calc(50% - 25vh);
                left: calc(50% - 60px);
                @include transform( translate(-50%, -50%) );
            }
            .closeTag{
                position: absolute;
                top: calc(50% + 23vh);
                left: 50%;
                @include transform( translate(-50%, -50%) );
            }
        }
        .greeting{
            position: absolute;
            top: 50%;
            left: calc(50% - 125px);
            @include transform( translate(-50%, -50%) rotate(-90deg));
            font-size: 26px;
            white-space: nowrap;
        }
    }
    #codeContentSkillsAndWork{
        font-family: $codeFont;
        color: white;
        font-weight: 500;
        order: 5;
    }
    #designContent{
        order: 2;
        pointer-events: none;
        #motionTitle{
            position: absolute;
            width: 300px;
            max-width: 300px;
            top: 50%;
            left: 65%;
            @include transform( translate(-50%, 5px));
            z-index: 250;
        }
        #graphicsTitle{
            position: absolute;
            width: 300px;
            max-width: 300px;
            top: 50%;
            left: 65%;
            z-index: 250;
            @include transform( translate(-50%, calc(-100% - 5px)));
        }
        #nameInDesign{
            position: absolute;
            width: 400px;
            top: calc(50% - 50px);
            left: 65%;
            z-index: 250;
            @include transform( translate(-50%, -50%));
        }
        #dStroke1{
            position: absolute;
            width: 120vw;
            top: 45%;
            left: 60%;
            z-index: 250;
            @include transform( translate(-60%, -60%) rotateX(0deg) rotateY(0deg));
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            backface-visibility: hidden;
        }
        .andText{
            color: $black;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 65%;
            z-index: 250;
            @include transform( translate(-50%, -50%));
            &::before{
                content: '';
                position: absolute;
                width: 80px;
                height: 2px;
                top:50%;
                left: -20px;
                background-color: $black;
                @include transform( translate(-100%, 0%) );
            }
            &::after{
                content: '';
                position: absolute;
                width: 80px;
                height: 2px;
                top:50%;
                left: calc(100% + 20px);
                background-color: $black;
                @include transform( translate(0%, 0%) );
            }
        }
        .designerText{
            color: $codeBlue;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 65%;
            z-index: 250;
            @include transform( translate(-50%, 100px));
        }
    }
    #designContentSkillsAndWork{
        order: 1;
    }
}
#aboutContent{
    z-index: 1;
    #about{
        font-family: $designFont;
        color: #333;
        position: absolute;
        width: calc(80vw - 30px);
        max-width: 650px;
        top: 80%;
        left: 50%;
        @include transform( translate(-50%, 0%));
        padding: 30px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 5px 10px 50px #b9b9b9;
        margin-bottom: 25%;
        .profilePicture{
            top: 20px;
            left: 50%;
            position: absolute;
            width: 200px;
            height: 200px;
            clip-path: polygon( 20% 0%, 100% 20%, 80% 100%, 0% 80%);
            @include transform( translate(-50%, -80%));
        }
        h3{
            line-height: 40pt;
            font-size: 30px;
            position: relative;
            margin: 20px;
            padding: 5px;
            &::after{
                content: '';
                position: absolute;
                background-color: rgba($black, 0.5);
                width: 100%;
                height: 3px;
                left: 50%;
                top: 100%;
                @include transform( translate(-50%, 0%));
            }
        }
        p{
            line-height: 26pt;
            font-size: 20px;
        }
        #contactForm{
            margin: 1em 2em;
            button[type="submit"]{
                margin-left: 50%;
                @include transform(translateX(-50%));
            }
            .error-message{
                margin: 1.2em 1em;
                color: #AA0000;
                font-weight: 600;
            }
            .status{
                text-align: center;
                padding: 1.5em;
                font-size: 20px;
            }
        }
    }
}
.hideBox{
    pointer-events: none;
    opacity: 0;
    @include transform( translate(-50%, -50%) scale(0.3));
}
.lightBox{
    position: fixed;
    display: flex;
    width: max-content;
    max-width: calc(100% - 60px);
    height: max-content;
    max-height: calc(100vh - 60px);
    top: 50%;
    left: 50%;
    @include transform( translate(-50%, -50%) scale(1) );
    @include transition( all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) );
    background-color: rgba(255,255,255,.95);
    z-index: 160;
    box-shadow: 20px 20px 40px rgba(0,0,0,.15);
    align-items: center;
    .media{
        width: max-content;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left top;
        }
        iframe{
            width: 65vw;
            height: 36vw;
        }
        button{
            position: absolute;
            width: 50px;
            height: 50px;
            box-shadow: 10px 10px 20px rgba(0,0,0,.15);
            padding: 0;
            @include transform(translate(0,-50%));
            top:50%;
            i{
                color: $black !important;
                font-size: 18px;
            }
        }
        .prv{
            left: 10px;
        }
        .nxt{
            right: 10px;
        }
    }
    .info{
        width: 30%;
        padding: 60px 30px;
        *{
            padding: 15px 0px;
        }
        h3{
            font-size: 30px;
        }
        label{
            font-size: 22px;
            padding: 30px 0px !important;
        }
        span{
            font-size: 20px;
        }
        ul > li{
            font-size: 16px;
            padding: 5px 30px;
        }
    }
    .closeBtn{
        position: fixed;
        top: 5px;
        right: 5px;
        background-color: transparent;
        opacity: .8;
        i{
            color: $black;
            font-size: 30px;
            text-shadow: 8px 8px 20px rgba($black, 0.5);
        }
    }
}
#designLightBox{
    .media{
        order: 2;
    }
    .info{
        order: 1;
    }
}
#codeLightBox{
    background-color: rgba(#292d3e,.95);
    *{
        color: $white;
    }
    .media{
        order: 1;
    }
    .info{
        order: 2;
    }
}
.portfolioGrid {
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: auto auto;
    perspective: 800px;
    overflow: hidden;
    cursor: grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    .item {
        top: 0;
        left: 0;
        position: absolute;
        width: 5%;
        padding-bottom: 5%;
        border: 4px solid white;
        box-shadow: 0px 0px 50px rgba(0,0,0,.5);
        opacity: 0.2;
        transform-style: preserve-3d;
        z-index: 0;
        overflow: hidden;
        transform: translate3d(0,0,0) rotateY(-180deg);
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        img,iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
            pointer-events: none;
        }
    }
    .activeThumb{
        padding-bottom: 20%;
        width: 20%;
        opacity: 1;
        transform: translate3d(0,0,0) rotateY(0deg);
        z-index: 5;
    }
    .aT0{
        left: 45% !important;
        right: 0 !important; 
        top: 55% !important;
        transform: translate3d(0%,-100%,0) rotateY(0deg) !important;
    }
    .aT1{
        left: 55% !important;
        right: 0 !important; 
        top: 45% !important;
        transform: translate3d(-100%,0,0) rotateY(0deg) !important;
    }
    .aT2{
        left: 40% !important;
        right: 0 !important; 
        top: 40% !important;
        padding-bottom: 15% !important;
        width: 15% !important;
        transform: translate3d(-100%,-100%,0) rotateY(0deg) !important;
    }
    .aT3{
        left: 60% !important;
        right: 0 !important; 
        top: 60% !important;
        padding-bottom: 15% !important;
        width: 15% !important;
        transform: translate3d(0,0,0) rotateY(0deg) !important;
    }
    .activeThumb[data-item-size='small']{
        padding-bottom: 10% !important;
        width: 10% !important;
    }
    .activeThumb[data-item-size='port']{
        padding-bottom: 30% !important;
        width: 20% !important;
    }
    .activeThumb[data-item-size='land']{
        padding-bottom: 16% !important;
        width: 30% !important;
    }
    .activeThumb[data-item-size='large']{
        padding-bottom: 30% !important;
        width: 30% !important;
    }
}
.fill1080p{
    width: 100vw;
    height: 56.25vw;
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform( translate(-50%, -50%) );
    opacity: 1;
    pointer-events: none;
    div{
        width: 100%;
        height: 100%;
    }
}
#lottieBackground{ z-index: -200;}
#lottieBackgroundOverly{ z-index: -150;}


@media all and (orientation: landscape) and 
    (max-aspect-ratio: 16/9){
    #homeContent{
        #codeContent{
            .introduction{
                @include transform( translate(0, -50%) );
                left: calc(50% + 125px);
            }
            .greeting{
                left: calc(50% - 165px);
            }
            .headTag{
                .openTag{
                    top: calc(50% - 220px);
                }
                .closeTag{
                    top: calc(50% + 200px);
                }
            }
        }
        #designContent{
            #motionTitle{
                left: calc(50% + 100px);
                @include transform( translate(0%, 5px));
            }
            #graphicsTitle{
                left: calc(50% + 100px);
                @include transform( translate(0%, calc(-100% - 5px)));
            }
            #nameInDesign{
                left: calc(50% + 50px);
                @include transform( translate(0%, -50%));
            }
            .andText, .designerText{
                left: calc(50% + 225px);
                @include transform( translate(0%, -50%));
            }
        }
    }
    .fill1080p{
        width: 177.77vh;
        height: 100vh;
    }
}


@media all and (orientation: landscape) and 
    (max-aspect-ratio: 10/1) and 
    (min-aspect-ratio: 16/9){
    #homeContent{
        #codeContent{
            .introduction{
                @include transform( translate(0, -50%) );
                left: 56.5%;
            }
            .greeting{
                left: 38%;
            }
            .headTag{
                .openTag{
                    top: calc(50% - 25vh);
                }
                .closeTag{
                    top: calc(50% + 24vh);
                }
            }
        }
    }
}

@media all and (orientation: portrait) and 
    (max-aspect-ratio: 1/1) {
    #homeContent{
        #codeContent{
            .introduction{
                left: 50%;
                @include transform( translate(-50%, 0) );
                top: calc(50% + 22vh);
            }
            .greeting{
                @include transform( translate(-50%, -50%) rotate(0deg));
                left: calc(50% - 20px);
                top: calc(50% - 30vh);
            }
            .headTag{
                .openTag{
                    top: calc(50% - 25vh);
                }
                .closeTag{
                    top: calc(50% + 20vh);
                }
            }
        }
        #designContent{
            #motionTitle{
                width: 80vw;
                top: 80%;
                left: 50%;
                @include transform( translate(-50%, 5px));
            }
            #graphicsTitle{
                width: 80vw;
                top: 80%;
                left: 50%;
                @include transform( translate(-50%, calc(-100% - 5px)));
            }
            #nameInDesign{
                width: 80vw;
                max-width: 400px;
                top: 15%;
                left: 50%;
                @include transform( translate(-50%, 0%));
            }
            .andText, .designerText{
                top: 80%;
                left: 50%;
            }
            .designerText{
                @include transform( translate(-50%, 75px));
            }
        }
    }
    .fill1080p{
        width: 177.77vh;
        height: 100vh;
    }
    
    .lightBox{
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        .media{
            width: 100%;
            iframe{
                width: 100%;
                height: 56.25vw;
            }
        }
        .info{
            width: calc(100% - 40px);
        }
    }
    #designLightBox{
        .media{
            order: 1;
        }
        .info{
            order: 2;
        }
    }
}

@media all and (max-width: 1200px){
    .portfolioGrid {
        .item {
            width: 10%;
            padding-bottom: 10%;
        }
        .activeThumb{
            padding-bottom: 35% !important;
            width: 35% !important;
        }
        .activeThumb[data-item-size='small']{
            padding-bottom: 25% !important;
            width: 25% !important;
        }
        .activeThumb[data-item-size='port']{
            padding-bottom: 50% !important;
            width: 35% !important;
        }
        .activeThumb[data-item-size='land']{
            padding-bottom: 20% !important;
            width: 40% !important;
        }
        .activeThumb[data-item-size='large']{
            padding-bottom: 40% !important;
            width: 40% !important;
        }
        
    }
}

@media all and (max-width: 768px){
    #homeContent{
        #centerContent{
            #codeBtn{
                position: absolute;
                top:50%;
                left: calc(50% - 15vw);
                @include transform( translate(-100%,-50%) rotate(-90deg));
            }
            #designBtn{
                position: absolute;
                top:50%;
                left: calc(50% + 5vw);
                @include transform( translate(0%,-50%) rotate(90deg));
            }
        }
    }
    #designContent{
        #motionTitle{
            max-width: 300px !important;
        }
        #graphicsTitle{
            max-width: 300px !important;
        }
    }
    
    .portfolioGrid {
        .item {
            width: 12%;
            padding-bottom: 12%;
        }
        .activeThumb{
            padding-bottom: 40% !important;
            width: 40% !important;
        }
        .aT0{
            left: 45% !important;
            right: 0 !important; 
            top: 45% !important;
            transform: translate3d(0%,-100%,0) rotateY(0deg) !important;
        }
        .aT1{
            left: 55% !important;
            right: 0 !important; 
            top: 30% !important;
            transform: translate3d(-100%,0,0) rotateY(0deg) !important;
        }
        .aT2{
            left: 45% !important;
            right: 0 !important; 
            top: 75% !important;
            transform: translate3d(0%,-100%,0) rotateY(0deg) !important;
        }
        .aT3{
            left: 55% !important;
            right: 0 !important; 
            top: 60% !important;
            transform: translate3d(-100%,0,0) rotateY(0deg) !important;
        }
        .activeThumb[data-item-size='small']{
            padding-bottom: 30% !important;
            width: 30% !important;
        }
        .activeThumb[data-item-size='port']{
            padding-bottom: 60% !important;
            width: 40% !important;
        }
        .activeThumb[data-item-size='land']{
            padding-bottom: 30% !important;
            width: 50% !important;
        }
        .activeThumb[data-item-size='large']{
            padding-bottom: 50% !important;
            width: 50% !important;
        }
        
    }
}

@media all and (max-width: 420px){
    #homeContent{
        #centerContent{
            #codeBtn{
                left: calc(50% - 10vw);
                font-size: 30px;
            }
            #designBtn{
                left: calc(50% + 6vw);
                object{
                    height: 80px;
                }
            }
        }
        #codeContent{
            .introduction{
                font-size: 20px;
            }
            .iM{
                font-size: 38px;
            }
        }
        #designContent{
            #motionTitle{
                max-width: 200px !important;
            }
            #graphicsTitle{
                max-width: 200px !important;
            }
            #dStroke1{
                opacity: 0;
            }
        }
    }
}

@-moz-document url-prefix() {

    *{
        perspective: 0 !important;
    }

}