<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="manifest" href="manifest.webmanifest"> -->

    <title>Deep Panchal : Interactive Media Designer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.1/lottie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <section id="preLoader">
        <h3 class="hidden">Pre loader</h3>
        <div id="preLoaderAnimation" class="fill1080p"></div>
        <div id="preLoaderPercentage">0%</div>
    </section>
    <section id="background">
        <h3 class="hidden">SVG Filters</h3>        
        <svg width="0" height="0"> 
            <defs>
                <filter id="duoToneFilter">
                    <feColorMatrix type="matrix" result="gray" values="1 0 0 0 0
                                1 0 0 0 0
                                1 0 0 0 0
                                0 0 0 1 0">
                    </feColorMatrix>
                    <feComponentTransfer color-interpolation-filters="sRGB"> 
                        <feFuncR type="table" tableValues="0.12941176470588237 0.9333333333333333"></feFuncR>
                        <feFuncG type="table" tableValues="0.08627450980392157 0.9333333333333333"></feFuncG>
                        <feFuncB type="table" tableValues="0.25098039215686274 0.9333333333333333"></feFuncB>
                        <feFuncA type="table" tableValues="0 1"></feFuncA>
                    </feComponentTransfer>        
                </filter>
            </defs>
        </svg>
    </section>
    <div id="lottieBackground" class="fill1080p"></div>
    <div id="lottieBackgroundOverly" class="fill1080p"></div> 
    <main id="homeContent">
        <section id="centerContent">
        <h3 class="hidden">Home Banner</h3>        
            <div id="codeBanner">
                <div id="codeSparks" class="fill1080p"></div>
                <img src="images/logoWhite.svg" class="headerLogo" alt="headerLogoWhite">
                <img src="images/myAvatarShape.svg" id="myAvatarShape" alt="myAvatarShape">
                <div class="aboutMsg"> <i class="fa fa-chevron-down"></i>   About me</div>
                <div id="codeBackground" class="fill1080p"></div>
            </div>
            <div id="designBanner">
                <div id="designSparks" class="fill1080p"></div>
                <img src="images/logoDark.svg" class="headerLogo" alt="headerLogoWhite">
                <img src="images/myAvatar.svg" id="myAvatar" alt="myAvatar">
                <div class="aboutMsg"> <i class="fa fa-chevron-down"></i>   About me</div>
                <div id="designBackground" class="fill1080p"></div>
            </div>
            <button class="noButtonStyle" id="codeBtn" data-link="#/code">&#60;!-- Coder</button>
            <button class="noButtonStyle" id="designBtn" data-link="#/design">
                <object id="designBtnSVG" type="image/svg+xml"
                    data="images/designerStroke.svg">
                </object>
            </button>
        </section>   
        <section id="codeContent">
            <h3 class="hidden">Code Banner</h3>            
            <div class="introduction">
                <p class="introText"> 
                    <div class="iM">
                        I<span class="codePinkText">'</span>m <br/>
                    </div>
                    <div class="name">
                        <span class="codeBlueText">{</span> 
                            DEEP PANCHAL
                        <span class="codeBlueText">}</span>
                        <span class="codeYellowText">;</span>
                    </div>
                    <div class="title">
                        <span class="codeRedText">&lt;?</span>
                        <span id="codeTitle" class="codeLightGreenText"> A_WEB_DEVELOPER</span>
                        <span class="codeRedText">/&gt;</span>
                    </div>
                </p>
            </div>
            <div class="greeting codeGreenText">// Hello World</div>
            <div class="headTag">
                <p class="openTag">
                    <span class="codeRedText">&lt;</span>
                    <span class="codeLightGreenText">head</span>
                    <span class="codeRedText">&gt;</span>
                </p>
                <p class="closeTag">
                    <span class="codeRedText">&lt;/</span>
                    <span class="codeLightGreenText">head</span>
                    <span class="codeRedText">&gt;</span>
                </p>
            </div>
        </section>
        <section id="codeContentSkillsAndWork">
            <h3 class="hidden">Coding Portfolio</h3>            
            <div class="portfolio">
                <div class="portfolioSection">
                    <div class="portfolioGrid" id="codePortfolio" v-if="show">
                        <div class="item" v-for="item in galleryData" @click="goto(item.item_id,item.item_name)" v-bind:data-item-size="item.media[0].media_size" :data-blur='blurStatus'>
                            <img  v-if="item.media[0].media_type == 'image'" :src="'php/image_optimize.php?img=../'+item.media[0].media_src+'&size=500'"/>
                            <img  v-if="item.media[0].media_type == 'video'" :src="'php/image_optimize.php?img='+item.media[0].media_thumb+'&size=500'"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="designContent">
            <h3 class="hidden">Design Banner</h3>            
            <div id="dStroke1">
                <object id="dStroke1SVG" type="image/svg+xml"
                    data="images/dStroke.svg">
                </object>
            </div>
            <div id="nameInDesign"></div>
            <div id="graphicsTitle"></div>
            <div class="andText">and</div>
            <div id="motionTitle"></div>
            <div class="designerText">designer</div>
        </section>
        <section id="designContentSkillsAndWork">
            <h3 class="hidden">Design Portfolio</h3>            
            <div class="portfolio">
                <div class="portfolioSection">
                    <div class="portfolioGrid" id="graphicsPortfolio" v-if="show">
                        <div class="item" v-for="item in galleryData" @click="goto(item.item_id,item.item_name)" v-bind:data-item-size="item.media[0].media_size" :data-blur="blurStatus">
                            <img  v-if="item.media[0].media_type == 'image'" :src="'php/image_optimize.php?img=../'+item.media[0].media_src+'&size=500'"/>
                            <img  v-if="item.media[0].media_type == 'video'" :src="'php/image_optimize.php?img='+item.media[0].media_thumb+'&size=500'"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section id="aboutContent">
        <div id="about">
            <img class="profilePicture" src="https://graph.facebook.com/v3.2/100002555012154/picture?width=300&height=300" alt="profilePicture">
            <h3>About Me</h3>
            <p>
                Hello, I'm Deepkumar Panchal AKA "Deep", An Interactive Web Developer and Digital Media Designer with over 7 years of experiences in the wide range of challenging projects. Currently shaping my skills by pushing boundaries of Web development; chasing ultimate creativity in 3D motion and vector graphics and experimenting with python to make AI and Cloud Computing applications.
                <br/>My work is something I do with commitments where I puts tremendous amount of effort to make my vision reality.
                <br/>Therefore, I always looking for work opportunity where I can polish and utilize my skills to build real-world applications.
            </p>
            <h3>Contact</h3>
            <div id="contactForm">
                <form @submit="subForm" onsubmit="event.preventDefault();">
                    <div class="error-message">{{error}}</div>
                    <fieldset v-if="!formHide">
                        <input type="text" v-model="name" placeholder="Name">
                        <input type="email" v-model="email" placeholder="Email Address">
                        <textarea v-model="msg" rows="4" placeholder="Message"></textarea>
                        <button type="submit" >Send</button>
                    </fieldset>
                    <div v-if="formHide" class="status"> {{status}} </div>
                </form>
            </div>
        </div>
    </section>
    <section id="designLightBox" :class="lightBoxClass"  v-if="mainData != ''">
        <h3 class="hidden">Design LightBox</h3>            
        <div class="media">
            <img v-if="mainData.media[i].media_type == 'image'" :src="mainData.media[i].media_src">
            <iframe v-if="mainData.media[i].media_type == 'video'" :src="mainData.media[i].media_src"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <button v-if="preMedia" @click="i = i-1" class="prv"><i class="fa fa-chevron-left"></i></button>
            <button v-if="nxtMedia" @click="i = i+1" class="nxt"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="info">
            <h3>{{mainData.item_name}}</h3>
            <span>
                {{mainData.sub_category.map(d => d = d.sub_category_name).join(', ')}} <br/><br/>
                {{mainData.item_date}}
            </span>
            <p>{{mainData.item_about}}</p>
            <label>Technology Used</label>
            <ul>
                <li v-for="t in mainData.technology" >{{t.technology_name}}</li>
            </ul>
            <a :href="mainData.item_resource">Resource</a>
        </div>
        <button @click="close" class="closeBtn"><i class="fa fa-times"></i></button>
    </section>
    <section id="codeLightBox" :class="lightBoxClass" v-if="mainData != ''">
        <h3 class="hidden">Code LightBox</h3>            
        <div class="media">
            <img v-if="mainData.media[i].media_type == 'image'" :src="mainData.media[i].media_src">
            <iframe v-if="mainData.media[i].media_type == 'video'" :src="mainData.media[i].media_src"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <button v-if="preMedia" @click="i = i-1" class="prv"><i class="fa fa-chevron-left"></i></button>
            <button v-if="nxtMedia" @click="i = i+1" class="nxt"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="info">
            <h3>{{mainData.item_name}}</h3>
            <span>
                {{mainData.sub_category.map(d => d = d.sub_category_name).join(', ')}} <br/><br/>
                {{mainData.item_date}}
            </span>
            <p>{{mainData.item_about}}</p>
            <label>Technology Used</label>
            <ul>
                <li v-for="t in mainData.technology" >{{t.technology_name}}</li>
            </ul>
            <a :href="mainData.item_resource">Resources</a>
        </div>
        <button @click="close" class="closeBtn"><i class="fa fa-times"></i></button>
    </section>

    <div id="foreground" class="fill1080p"></div>
    <script src="js/defines.js"></script>
    <script src="js/general_function.js"></script>
    <!-- <script src="js/preloader.js"></script> -->
    <script src="js/gallery.js"></script>
    <script src="js/main.js"></script>
</body>
</html>